<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>form</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>

		<div class="container" style="padding:5px 0">
		<% for(var i=0;i<items.length;i++){%>
				<form class="form-inline" method="post" action="/delete">
					<div class="form-group">
						<input type="text" id="name" name="name" value="<%=items[i].name%>" class="form-control" placeholder="name">
						<input type="hidden" name="_id" value="<%=items[i]._id%>" class="form-control" placeholder="id">
					</div>
					<div class="form-group">
						<input type="submit" value="Delete" class="btn btn-danger">
					</div>
				</form>
		<%}%>
		</div>
		<div class="container" style="padding:5px 0">
			<form class="form-inline" method="post" action="/add">
				<div class="form-group">
					<input type="text" id="name" name="name" class="form-control" placeholder="name">
				</div>
				<div class="form-group">
					<input type="submit" value="Add" class="btn btn-primary">
				</div>
			</form>
		</div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>
